@model CleanLearning.Models.NewFAQ

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NewFAQ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAQ.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAQ.Question)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
