@model IEnumerable<CleanLearning.Models.Module>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Modules</h2>


@Styles.Render("~/Content/dataTables")

<div class="container">

    <hr />

    <div class="col-md-12">
        <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Create", "Modules") + "'");">
            <span class="glyphicon glyphicon-plus"></span> Create new
        </button>
    </div>


    <div class="row top-buffer">
        <div class="col-md-12">
            <table id="modules" class="table table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>
                            Module Code
                        </th>
                        <th>
                            Teacher
                        </th>
                        <th>
                            Module Name
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        var link = Url.Action("Details", "QuestionResults", new { id = item.ID });
                        <tr>
                            <td onclick="Redirect('@link')">
                                @Html.DisplayFor(modelItem => item.ModuleCode)
                            </td>
                            <td onclick="Redirect('@link')">
                                @Html.DisplayFor(modelItem => item.Teacher1.FirstName) @Html.DisplayFor(modelItem => item.Teacher1.LastName)
                            </td>
                            <td onclick="Redirect('@link')">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                                @Html.ActionLink("Student Test Results", "../TestResults/ShowResultsPerModule", new { moduleCode = item.ModuleCode }) |
                                @Html.ActionLink("Add Supporting teacher", "ShowSupportingTeacherPerModule", new { moduleID = item.ID })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default btn-sm" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">
                <span class="glyphicon glyphicon-chevron-left"></span> Back to dashboard
            </button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js"></script>
    <script type="text/javascript">

            $(document).ready(function () {
                $('#modules').DataTable(
                    {
                        "pagingType": "simple",
                        "columnDefs": [
                            { targets: 3, orderable: false }
                        ]
                    }
                );
            });
    </script>
}
